@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,400&display=swap');

:root {
    --green: #27ae60;
    --blue: #40E0D0;
    --black: #000;
    --light-color: #666;
    --box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    font-family: 'Roboto', Courier, monospace;
    
}

.hero{
    /* min-height: calc(100vh - 50px); */
    min-height: 100vh;
    background-image: url(assets/beach-sl.jpg);
    position: relative;
    top: -50px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    z-index: -1;
}

nav{
    /* background-color: #ffffff0e; */
    font-size: 20px;

}
nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
    padding-left: 0;
    
}

nav li{
    height: 50px;
}

nav a{
    height: 100%;
    text-decoration: none;
    padding: 0 30px;
    color: black;
    display: flex;
    align-items: center;
    margin: 10px auto;
}


nav li:first-child{
    margin-right: auto;
}

nav a:first-child{
    padding-left: 0;
}

.social-links{
    margin-top: 20px;
}

.social-links a{
    display: inline;
    padding: 0 10px;

}

nav a:hover{
    transform: scale(1.1);
 }
 

.social-links i, nav a{
    /* Add a hover effect */
    transition: transform 0.5s ease-in-out;
  }
  
  /* Rotate the icon on hover */
  .social-links i:hover {
    transform: rotate(360deg);
  }

.sidebar{
    position: fixed;
    height: 100vh;
    top: 0;
    right: 0;
    flex-direction: column;
    justify-content: center;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.2);
    display: none;
    z-index: 999;
}

.menuButton{
    display: none;
}
.close-button{
    margin: 0 auto;
}

@media(max-width: 768px){
    .hideOnMobile{
        display: none;
    }
    .menuButton{
        display: block;
    }
    nav a{
        padding: 0;
    }
    
}


























